:root {
	--negro: #000000;
	--rojo: #AD1B02;
	--bambu: #D85604;
	--dorado: #E88D14;
	--azafran: #F3BE26;
	--rubor: #E669A2;
	--blanco: #FFFFFF;

	--elevacion: 2px;
	--_elevacion: -2px;
	--speed: 300ms;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: var(--blanco);
	color: var(--negro);
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: start;
}

header {
	background-color: var(--rojo);
	color: var(--blanco);
	margin: 0;
	padding: 0.5rem;
	font-size: 1.5rem;
	font-weight: 350;
	width: 100%;
	height: 2rem;
}

/** MAIN **/
main {
	flex: 1;
	padding: 1rem;
	height: calc(100% - 5rem);
	overflow: auto;
	background-color: var(--azafran);
}
main h1, main form {
	background-color: var(--blanco);
	color: var(--bambu);
	margin: 0.5rem 0.5rem;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 4px 6px 0 rgb(85 85 85 / 8%), 0 1px 20px 0 rgb(0 0 0 / 7%), 0px 1px 11px 0px rgb(0 0 0 / 7%);
}
main h2 {
	margin: 0.5rem auto;
}
/** Fieldset **/
main fieldset {
	margin: 0.5rem 0rem;
	border: 2px solid var(--azafran);
}
/** Standar button **/
main button {
	border-radius: 0.5rem;
	padding: 0.4rem 2rem;
	cursor: pointer;
	background-color: var(--dorado);
	border: 2px solid var(--dorado);
	color: var(--blanco);

	transition: all var(--speed) cubic-bezier(0.19, 1, 0.22, 1);
	box-shadow: 0px 0px var(--elevacion) rgba(0, 0, 0, .5), 0 0 20px rgba(0, 0, 0, .2);
	margin-top: var(--elevacion);
	margin-left: var(--elevacion);
}
main button mark {
	padding: 0 0.5rem;
	border-radius: 0.5rem;
	background-color: var(--rubor);
	color: var(--blanco);
}
main button:hover {
	box-shadow:  var(--elevacion) var(--elevacion) var(--elevacion) rgba(0, 0, 0, .5), 0 0 20px rgba(0, 0, 0, .2);
	transform: translate(var(--_elevacion), var(--_elevacion));
}
/** Reset button **/
main button[type="reset"] {
	background-color: var(--blanco);
	border-color: var(--rojo);
	color: var(--rojo);
}
/** Submit button **/
main button[type="submit"] {
	background-color: var(--rojo);
	border-color: var(--rojo);
	color: var(--blanco);
}
/** Submit button **/
main button[type="button"] {
	background-color: var(--bambu);
	border-color: var(--bambu);
	color: var(--blanco);
}

main nav {
	display: flex;
	align-items: center;
}

/** SIDEBAR **/
aside {
	height: calc(100% - 3rem);
	display: flex;
	flex-direction: column;
	background-color: var(--blanco);
	position: relative;
}
aside a {
	color: var(--negro);
	display: block;
	margin: 0rem 5rem 0rem 1rem;
}
aside a.active {
	color: var(--rojo);
}
aside footer {
	margin-top: auto;
	font-size: smaller;
	margin: auto 1rem 1rem 1rem;
}
/** Sidebar user avatar section **/
aside figure {
	width: calc(100% - 1.5rem);
	margin: 0 0 1rem 0;
	padding: 0.5rem 0.75rem;
	background-image: url("images/banner.jpg");
	background-size: cover;
	display: flex;
	align-items: center;
}
aside figure img {
	border-radius: 2rem;
	width: 2rem;
	height: 2rem;
}
aside figure figcaption {
	margin-left: 1rem;
	font-size: smaller;
	color: var(--blanco);
}
aside figure a {
	color: var(--blanco);
}

/** Sidebar Show Hide Buttons **/
#hide-sidebar {
	margin: 0;
	padding: 1em 0;
	position: absolute;
	top: 50%;
	right: 0px;
	font-size: small;
}
#show-sidebar {
	margin: 0;
	padding: 1em 0;
	position: absolute;
	top: 50%;
	right: 0px;
	font-size: small;
}
aside.collapsed #hide-sidebar {
	display: none;
}
aside.expanded #show-sidebar {
	display: none;
}
aside.collapsed {
	width: 3.5rem;
}
aside.collapsed figcaption {
	display: none;
}
aside.collapsed span {
	display: none;
}


a:hover {
	text-decoration: underline;
}

a {
	color: var(--bambu);
	text-decoration: none;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4rem 0;
	padding: 0.4rem;
	margin: 0 0 0.5rem 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
