@import url('coredump.css');

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	color: var(--body-color);
	background-color: var(--body-bg);
	box-sizing: border-box;
	font-family: var(--font);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: start;
}

/** HEADER **/
header {
	color: var(--header-color);
	background-color: var(--header-bg);
	margin: 0;
	padding: 0.5rem;
	font-size: 1.5rem;
	font-weight: 350;
	height: 2rem;
}
@media only screen and (max-width: 767px){
	body {
		background-color: var(--header-bg);
	}
	header {
		width: calc(100% - 4.5rem);
	}
}
@media only screen and (min-width: 768px){
	header {
		width: 100%;
	}
}

/** MAIN **/
main {
	flex: 1;
	overflow: auto;
	background-color: var(--main-bg);
}
main h1, main form {
	color: var(--main-content-color);
	background-color: var(--main-content-bg);
	margin: 0.5rem 0.5rem;
	padding: 1rem;
	overflow: hidden auto;
	border-radius: 0.5rem;
	box-shadow: 0 4px 6px 0 rgb(85 85 85 / 8%), 0 1px 20px 0 rgb(0 0 0 / 7%), 0px 1px 11px 0px rgb(0 0 0 / 7%);
}
@media only screen and (max-width: 767px){
	main {
		padding: 0.25rem;
		height: calc(100% - 3.5rem);
	}
}
@media only screen and (min-width: 768px){
	main {
		padding: 1rem;
		height: calc(100% - 5rem);
	}
}
main h2 {
	margin: 0.5rem auto;
}
/** Fieldset **/
main fieldset {
	margin: 0.5rem 0rem;
	border: 2px solid var(--main-bg);
	border-radius: 4px;
}
/** Standar button **/
main button {
	border-radius: 0.5rem;
	padding: 0.4rem 2rem;
	cursor: pointer;
	background-color: var(--button-default-bg);
	border: 2px solid var(--button-default-border);
	color: var(--button-default-color);

	transition: all var(--speed) cubic-bezier(0.19, 1, 0.22, 1);
	box-shadow: 0px 0px var(--elevacion) rgba(0, 0, 0, .5), 0 0 10px rgba(0, 0, 0, .2);
	margin-top: var(--elevacion);
	margin-left: var(--elevacion);
}
main button mark {
	padding: 0 0.5rem;
	border-radius: 0.5rem;
	color: var(--button-mark-color);
	background-color: var(--button-mark-bg);
}
main button:hover {
	box-shadow:  var(--elevacion) var(--elevacion) var(--elevacion) rgba(0, 0, 0, .5), 0 0 10px rgba(0, 0, 0, .2);
	transform: translate(var(--_elevacion), var(--_elevacion));
}
main button:focus {
	box-shadow:  var(--elevacion) var(--elevacion) var(--elevacion) rgba(0, 0, 0, .5), 0 0 10px rgba(0, 0, 0, .5);
	transform: translate(var(--_elevacion), var(--_elevacion));
	outline: none;
}
main button:active {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .5), 0 0 10px rgba(0, 0, 0, .2);
	transform: translate(0px, 0px);
}
/** Reset button **/
main button[type="reset"] {
	background-color: var(--button-reset-bg);
	border-color: var(--button-reset-border);
	color: var(--button-reset-color);
}
/** Submit button **/
main button[type="submit"] {
	background-color: var(--button-submit-bg);
	border-color: var(--button-submit-border);
	color: var(--button-submit-color);
}
/** Submit button **/
main button[type="button"] {
	background-color: var(--button-button-bg);
	border-color: var(--button-button-border);
	color: var(--button-button-color);
}
/** Disabled button **/
main button:disabled {
	background-color: var(--button-disabled-bg);
	border-color: var(--button-disabled-border);
	color: var(--button-disabled-color);
	box-shadow: none;
	transform: translate(0px, 0px);
}
main button:disabled:hover {
	box-shadow: none;
}

/** Checkbox **/
main label {
	cursor: pointer;
}
main input[type="checkbox"] {
	cursor: pointer;
	position: relative;
}
main input[type="checkbox"]::after {
	content: '';
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	background-color: var(--checkbox-bg);
	border: 1px solid var(--checkbox-border);
	transition: all var(--speed) cubic-bezier(.72,.32,.98,.69);
}
main input[type="checkbox"]::before {
    content: '';
    position: absolute;
    left: 4px;
    top: 6px;
    width: 2px;
    height: 2px;
	border: 0.5px solid var(--checkbox-color);
	background: var(--checkbox-color);
	box-shadow: 
		4px 0 0 var(--checkbox-color),
		4px 0 0 var(--checkbox-color),
		4px -0px 0 var(--checkbox-color),
		4px -0px 0 var(--checkbox-color),
		4px -0px 0 var(--checkbox-color),
		4px -0px 0 var(--checkbox-color);
	transform: rotate(0deg);
	opacity: 0;
	transition: all var(--speed) cubic-bezier(.72,.32,.98,.69);
}
main input[type="checkbox"]:checked::after {
	content: '';
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 2px;
	background-color: var(--checkbox-checked-bg);
	border: 1px solid var(--checkbox-border);
}
main input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 6px;
    width: 2px;
    height: 2px;
	border: 0.5px solid var(--checkbox-checked-color);
	background: var(--checkbox-checked-color);
	box-shadow: 
		2px 0 0 var(--checkbox-checked-color),
		4px 0 0 var(--checkbox-checked-color),
		4px -2px 0 var(--checkbox-checked-color),
		4px -4px 0 var(--checkbox-checked-color),
		4px -6px 0 var(--checkbox-checked-color),
		4px -8px 0 var(--checkbox-checked-color);
	opacity: 1;
	transform: rotate(45deg);
}
main input[type="checkbox"]:disabled::after {
	background-color: var(--button-disabled-bg);
	border-color: var(--button-disabled-border);
}
main input[type="checkbox"]:checked:disabled:before {
    content: '';
    position: absolute;
    left: 2px;
    top: 6px;
    width: 2px;
    height: 2px;
	border: 0.5px solid var(--button-disabled-color);
	background: var(--button-disabled-color);
	box-shadow: 
		2px 0 0 var(--button-disabled-color),
		4px 0 0 var(--button-disabled-color),
		4px -2px 0 var(--button-disabled-color),
		4px -4px 0 var(--button-disabled-color),
		4px -6px 0 var(--button-disabled-color),
		4px -8px 0 var(--button-disabled-color);
	opacity: 1;
	transform: rotate(45deg);
}

/** Checkbox **/
main label {
	cursor: pointer;
}
main input[type="radio"] {
	cursor: pointer;
	position: relative;
	transform: translate(1px, 1px);
}
main input[type="radio"]::before {
	content: '';
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 8px;
	background-color: var(--checkbox-bg);
	border: 1px solid var(--checkbox-border);
	transition: all var(--speed) cubic-bezier(.72,.32,.98,.69);
	transform: translate(-1px, -1px);
}
main input[type="radio"]:disabled:before {
	background-color: var(--button-disabled-bg);
	border-color: var(--button-disabled-border);
}
main input[type="radio"]::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 10px;
    height: 10px;
	border-radius: 8px;
	background-color: var(--checkbox-border);
	opacity: 0;
	transition: all var(--speed) cubic-bezier(.72,.32,.98,.69);
	transform: translate(0px, 0px);
}
main input[type="radio"]:checked::after {
	opacity: 1;
}
main input[type="radio"]:checked:disabled::after {
	background-color: var(--button-disabled-color);
}

/** nav bars **/
main nav {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 2em;
}
main nav > label{
	margin-right: 1rem;
}

/** SIDEBAR **/
aside {
	display: flex;
	flex-direction: column;
	background-color: var(--sidebar-bg);
	position: relative;
}
aside a {
	color: var(--sidebar-color);
	display: block;
	margin: 0rem 5rem 0rem 1rem;
}
aside a.active {
	color: var(--sidebar-active-color);
	background-color: var(--sidebar-active-bg);
}
aside footer {
	margin-top: auto;
	font-size: smaller;
	margin: auto 1rem 1rem 1rem;
}
/** Sidebar user avatar section **/
aside figure {
	width: calc(100% - 1.5rem);
	margin: 0 0 1rem 0;
	padding: 0.5rem 0.75rem;
	background: var(--sidebar-username-bg);
	background-size: cover;
	display: flex;
	align-items: center;
}
aside figure img {
	border-radius: 2rem;
	width: 2rem;
	height: 2rem;
	border: 2px solid var(--sidebar-username-border);
}
aside figure figcaption {
	margin-left: 1rem;
	font-size: smaller;
	color: var(--sidebar-username-color);
	font-weight: bold;
}

/** Sidebar Show Hide Buttons **/
#hide-sidebar {
	margin: 0;
	padding: 1em 0;
	position: absolute;
	top: 50%;
	right: 0px;
	font-size: small;
	cursor: pointer;
}
#show-sidebar {
	margin: 0;
	padding: 1em 0;
	position: absolute;
	right: 0px;
	font-size: small;
	cursor: pointer;
}
#hide-sidebar:hover {
	outline: none;
}
#show-sidebar {
	outline: none;
}
aside.collapsed #hide-sidebar {
	display: none;
}
aside.expanded #show-sidebar {
	display: none;
}
aside.collapsed {
	width: 3.5rem;
}
aside.collapsed figcaption {
	display: none;
}
aside.collapsed span {
	display: none;
}
@media only screen and (max-width: 767px){
	aside.collapsed {
		height: 3rem;
		overflow: hidden;
	}
	aside.expanded {
		height: calc(100% - 3rem);
	}
	aside.collapsed #show-sidebar {
		bottom: 0;
		transform: rotate(90deg) translate(0.7rem, 0.1rem);
		background: transparent;
		border: none;
		color: var(--sidebar-username-color);
	}
}
@media only screen and (min-width: 768px){
	aside {
		height: calc(100% - 3rem);
	}
	aside.collapsed #show-sidebar {
		top: 50%;
	}
}


a:hover {
	text-decoration: underline;
}
a {
	color: var(--link-color);
	text-decoration: none;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4rem 0;
	padding: 0.4rem;
	margin: 0 0.4rem 0.5rem 0;
	box-sizing: border-box;
	border: 1px solid var(--input-border);
	background-color: var(--input-bg);
	border-radius: 2px;
}
input:disabled {
	color: var(--input-disable-color);
	background-color: var(--input-disable-bg);
	font-style: italic;
}
select:disabled {
	color: var(--input-disable-color);
	background-color: var(--input-disable-bg);
	font-style: italic;
	opacity: 1;
}
input:focus, select:focus, textarea:focus {
	outline: var(--input-focus-color) auto 1px;
}
