:root {
	--negro: #000000;
	--rojo: #AD1B02;
	--bambu: #D85604;
	--dorado: #E88D14;
	--azafran: #F3BE26;
	--rubor: #E669A2;
	--blanco: #FFFFFF;
	--plomo: #ccc;

	--elevacion: 2px;
	--_elevacion: -2px;
	--speed: 200ms;

	--font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

	--body-color: var(--negro);
	--body-bg: var(--blanco);

	--header-color: var(--blanco);
	--header-bg: var(--rojo);

	--sidebar-color: var(--negro);
	--sidebar-bg: var(--blanco);
	--sidebar-username-color: var(--blanco);
    --sidebar-username-bg: url("images/banner.jpg");
	--sidebar-username-border: var(--plomo);

	--sidebar-active-color: var(--rojo);
	--sidebar-active-bg: var(--blanco);

	--main-bg: var(--azafran);

	--main-content-color: var(--bambu);
	--main-content-bg: var(--blanco);

	--button-default-color: var(--blanco);
	--button-default-bg: var(--dorado);
	--button-default-border: var(--dorado);

	--button-button-color: var(--blanco);
	--button-button-bg: var(--bambu);
	--button-button-border: var(--bambu);

	--button-reset-color: var(--rojo);
	--button-reset-bg: var(--blanco);
	--button-reset-border: var(--rojo);

	--button-submit-color: var(--blanco);
	--button-submit-bg: var(--rojo);
	--button-submit-border: var(--rojo);

	--button-disabled-color: var(--blanco);
	--button-disabled-bg: var(--plomo);
	--button-disabled-border: var(--plomo);

	--button-mark-color: inherit;
	--button-mark-bg: var(--azafran);

	--checkbox-color: var(--blanco);
	--checkbox-bg: var(--azafran);
	--checkbox-checked-color: var(--blanco);
	--checkbox-checked-bg: var(--rojo);
	--checkbox-border: var(--rojo);

	--link-color: var(--bambu);

	--input-color: var(--negro);
	--input-bg: var(--blanco);
	--input-border: var(--plomo);
	--input-focus-color: var(--rojo);
	--input-disable-color: var(--plomo);
	--input-disable-bg: var(--blanco);
}
